#title {
    background-image: url(../../images/city_background.jpg);
    padding: 120px 0 120px 0;
    width: 100%;
    text-align: center;
}

.score {
    width: 100%;
}

th, td {
    padding: 20px;
}

th {
    border: 3px solid rgb(127, 85, 161);
    border-radius: 10px;
    background-color: rgb(87, 48, 119);
}

tr ,td {
    border: 3px solid rgb(72, 16, 117);
    border-radius: 10px;
}

