/* Style de la barre de navigation */

header {
    display: flex;
    justify-content: space-around;
    color: white;
}

.title {
    margin-right: 10%;
    font-size: large;
    margin-top: 2%;
}

.links {
    display: flex;
    align-self: center;
    margin-left: 25%;
}

.links2 {
    margin-top: 3%;
}

#lien {
    padding-left: 10px;
}

/* Lien non visité */

a:link {
    color: white;
    text-decoration: none;
}

/* Lien visité */

a:visited {
    color: white;
    text-decoration: none;
}

/* Souris sur le lien */

a:hover {
    color: aqua;
    text-decoration: none;
}

/* Lien sélectionné */

a:active {
    color: white;
    text-decoration: none;
}