#title {
    background-image: url(../../images/city_background.jpg);
    padding: 120px 0 120px 0;
    width: 100%;
    text-align: center;
}

.change_info {
    padding: 15px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.required_answer {
    background-color: #5a2f70;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
}

.submit {
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
    margin: auto;
}

.space_out_section {
    padding: 100px 0 100px 0;
}