@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body
{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgb(23, 0, 47);
    margin: 0px;
}

.texteContacter
{
    background-color: Blue;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/login/background.png");
}

.contacter
{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: rgb(144, 238, 222);
}

.boite
{
    display: flex;
    justify-content: space-between;
    width: 950px;
    background-color: rgb(2, 228, 2);

}

.boite2
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 300px;
    height: 200px;
}

.formulaire
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: lightcyan;
}

.fomulaire2
{
    background-color: lightcoral;
    width: 600px;
    height: 260px;
    margin-right: 350px;
}

#nom
{
    background-color: rgb(58, 31, 86);
    border: none;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    width: 200px;
    height: 30px;
    color: white;
}

#email
{
    background-color: rgb(58, 31, 86);
    border: none;
    margin: 10px;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    width: 200px;
    height: 30px;
    color: white;
}

#sujet
{
    background-color: rgb(58, 31, 86);
    border: none;
    margin: 10px;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    width: 443px;
    height: 30px;
    color: white;
}

#message
{
    background-color: rgb(58, 31, 86);
    border: none;
    margin: 10px;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    width: 443px;
    height: 100px;
    color: white;
}

#bouttonformulaire
{
    
}