body {
    margin: 0;
    background-color: #10002B;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: rgb(84, 189, 224);
    text-decoration: none;
}