body {
    background-color: #10002B;
    color: #FFFFFF;
}

.head {
    background-color: #240046;
}

h1 {
    background-image: url(../../images/api_thumb_450.jpg);
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

input[type=text], input[type=email], input[type=password] {
    background-color: #5a2f70;
    border: none;
    border-radius: 2px;
}

input[type=submit] {
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
}

article p, footer, aside a {
    color: rgba(255, 255, 255, 0.75);
}

strong, li {
    color: #FFA500;
}

.social {
    background-color: #FFA500;
}