body {
    margin: 0;
}

.navigation {
    padding: 20px 0 0 0;
}

h1 {
    padding: 120px 620px 120px 620px;
}

.answer {
    padding: 15px 0 15px 0;
}

input[type=text], input[type=email], input[type=password], input[type=submit] {
    padding: 15px 15px 15px 15px;
}

section {
    padding: 100px 0 100px 0;
}

#submit {
    margin: 0 605px 0 0;
}

.informations {
    margin: 150px 0 150px 0;
}

.social a {
    padding: 0 15px 0 15px;
    font-size: 20px;
}

footer {
    margin: 0 0 0 200px;
}

ul li {
    padding: 10px 0 10px 0;
}