body {
    margin: 0;
}

.navigation {
    padding: 20px 0 0 0;
}

h1 {
    padding: 150px 0 250px 0;
}

.answer {
    padding: 15px 0 15px 0;
}

input[type=text], input[type=email], input[type=password], input[type=submit] {
    padding: 15px 15px 15px 15px;
}

#submit {
    margin: 0 605px 0 0;
}

.informations {
    margin: 150px 0 150px 0;
}

footer {
    margin: 0 0 0 200px;
}