.footer1
{
    margin-top: 100px;
    padding-top: 50px;
    background-color: rgb(18, 0, 37);
    /*background-color: lightblue;*/
    display: flex;
    justify-content: space-around;
}

.imageLiens
{
    display: flex;
    align-items: center;
    height: 40px;
}


.logos:link {
    color: orange;
    text-decoration: none;
    margin: 5px;
}
  
/* visited link */
.logos:visited {
    color: orange;
    text-decoration: none;

}
  
/* mouse over link */
.logos:hover {
    color: rgb(148, 96, 0);
    text-decoration: none;

}
  
/* selected link */
.logos:active {
    color: orange;
    text-decoration: none;

}



li
{
    margin-top: 20px;
}

.footerOrange
{
    color: orange;
}

.gris
{
    color: rgb(174, 174, 174);
}

.gris2
{
    color: rgb(174, 174, 174);
}

.gris2:hover
{
    color: rgb(84, 189, 224);
}

.copyright
{
    color: rgb(174, 174, 174);
    margin-top: 100px;
    
}