footer
{
    margin-top: 100px;
    padding-top: 50px;
    background-color: rgb(18, 0, 37);
    display: flex;
    justify-content: space-around;
}

.footerStrong
{
    color: orange;
}

.gris
{
    opacity: 0.75;
}