header
{
    min-height: 90px;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
}
.mesPages
{
    margin-left: 20%;
    width: 25%;
    background-color: lightblue;
    align-self: center;
}
.mesPages2
{
    display: flex;
    justify-content: space-between;
}

.title
{
    align-self: center;
}





/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
    color: white;
    text-decoration: none;

}
  
/* mouse over link */
a:hover {
    color: rgb(84, 189, 224);
    text-decoration: none;

}
  
/* selected link */
a:active {
    color: white;
    text-decoration: none;

}
