.leJeu {
    margin-top: 100px;
    background-color: rgb(18, 0, 37);
}

.lesDifficultes {
    height: 70px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(54, 22, 87);
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.lesDifficultes2 {
    padding: 10px;
    background-color: rgb(102, 62, 141);
    border-radius: 50px;
}

.lesDifficultes2:hover {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.329);
}

.emplacementChat{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: white;
    position: absolute;
    top: 100px; 
    left: 1000px;
}

.fenêtreChat {
    background-color: rgba(66,114,255,255);
    width:450px;
    height: 640px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
}



/* Style du header du chat */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header img {
    border-radius: 300px;
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.header p {
    color: white;
    padding: 15px;
    font-size: 20px;
}



/* Style boîte des messages avec ses infos */

.main {
    background-color: white;
    flex: 1;
    padding: 20px 30px;
}

#nameUser {
    color: rgba(188,187,187,255);
    font-size: 80%;
    padding-left: 3px;
}

.messageEnvoye {
    background-color: rgba(62,118,253,255);
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#date {
    color: rgba(188,187,187,255);
    font-size: 50%;
    padding-left: 3px;
}

.pdpUser {
    border-radius: 300px;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.messageRecu {
    background-color: rgba(247,247,249,255);
    padding: 10px;
    color: gray;
    border-radius: 15px;
    margin-bottom: 15px;
}



/* Style du footer du chat */

.footer {
    background-color: white;
}

.footer form {
    display: flex;
}

form input {
    flex: 0.7;
    height: 45px;
    outline: auto;
    outline-color: rgba(226,225,226,255);
    margin-left: 20px;
    margin-bottom: 40px;
}

::placeholder {
    padding-left: 10px;
    color: rgba(225,224,224,255);
}

form button {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: -100px;
    font-weight: bold;
    font-size: 15px;
}

.lesTableaux {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 62, 141);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.tableau1 {
    background-color: rgb(54, 22, 87);
    width: fit-content;
    height: fit-content;
    border-spacing: 10px;
    border-radius: 10px;
    margin-right: auto; 
    margin-left: auto
}

.td1 {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color: rgb(138, 93, 184);
}

.box1 {
    display: flex;
    justify-content: center;
}

.tableau2 {
    background-color: rgb(54, 22, 87);
    width: fit-content;
    height: fit-content;
    border-spacing: 10px;
    border-radius: 10px;
    margin-right: auto; 
    margin-left: auto
}

.td2 {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color: rgb(138, 93, 184);
}

.box2 {
    display: flex;
    justify-content: center;
}

.tableau3 {
    background-color: rgb(54, 22, 87);
    width: fit-content;
    height: fit-content;
    border-spacing: 10px;
    border-radius: 10px;
    margin-right: auto; 
    margin-left: auto
}

.td3 {
    border-radius: 5px;
    width: 60px;
    height: 60px;
    background-color: rgb(138, 93, 184);
}

.box3 {
    display: flex;
    justify-content: center;
}

.tableau4 {
    background-color: rgb(54, 22, 87);
    width: fit-content;
    height: fit-content;
    border-spacing: 5px;
    border-radius: 10px;
    margin-right: auto; 
    margin-left: auto
}

.td4 {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: rgb(138, 93, 184);
}

.box4 {
    display: flex;
    justify-content: center;
}