.footer {
    margin-top: 100px;
    padding-top: 50px;
    background-color: rgba(13,11,38,255);
    display: flex;
    justify-content: space-around;
}

/* Style de la partie gauche du footer */

.gris {
    color: rgb(174, 174, 174);
}

.footerOrange {
    color: orange;
}

.imageLiens {
    display: flex;
    align-items: center;
    height: 40px;
}

.fa {
    padding: 10px;
    width: 20px;
    text-align: center;
    margin-right: 5px;
    border-radius: 2px;
}

.fa-twitter, .fa-facebook, .fa-google, .fa-pinterest, .fa-instagram, .fa-discord {
    background: orange;
}

.copyright {
    color: rgb(174, 174, 174);
    margin-top: 100px; 
}

/* Style de la partie droite du footer */

li {
    margin-top: 20px;
}

.gris2 {
    color: rgb(174, 174, 174);
}

.gris2:hover {
    color: aqua;
}