body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgba(19,15,45,255);
    margin: 0px;
}

/* Style du titre connexion avec le fond */

#titreConnexion {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/Images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.connexion {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.connexion2 {
    display: flex;
    flex-direction: column;
}

#email {
    background-color: rgba(39,38,69,255);
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    width: 500px;
    height: 40px;
    color: white;
}

#mdp {
    background-color: rgba(39,38,69,255);
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    width: 500px;
    height: 40px;
    color: white;
}

#bouttonConnexion {
    border: none;
    background-color: orange;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 2px;
}

#bouttonConnexion:hover {
    background-color: darkorange;
}