body {
    margin: 0;
    background-color: rgba(19,15,45,255);
    color: white;
    font-family: 'Lato', sans-serif;
}

#titreMemory {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/Images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.leJeu {
    margin-top: 10px;
    background-color: rgba(19,15,45,255);
}

#lesDifficultes, #lesThemes {
    height: 70px;
    display: none;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(54, 22, 87);
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

#themeButtonBox, #diffButtonBox, #startButtonBox {
    display: flex;
    justify-content: center;
}


#openThemes, #openDifficultes, #start {
    font-size: larger;
    border: none;
    border-radius: 50px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(125, 67, 183);
    color: white;
}

#openThemes:hover, #openDifficultes:hover, #start:hover {
    color: aqua;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.329);

}

#openThemes:active, #openDifficultes:active, #start:active {
    background-color: rgb(94, 51, 137);
    box-shadow: none;

}

.lesThemes2 {
    padding: 10px;
    background-color: rgb(102, 62, 141);
    border-radius: 50px;
    border: none;
    color: white;
    font-size: larger;
}

.lesThemes2:hover {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.329);
    color: aqua;
}

.lesThemes2:active {
    background-color: rgb(86, 42, 130);
    box-shadow: none;
}

.lesDifficultes2 {
    padding: 10px;
    background-color: rgb(102, 62, 141);
    border-radius: 50px;
    border: none;
    color: white;
    font-size: larger;
}

.lesDifficultes2:hover {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.329);
    color: aqua;
}

.lesDifficultes2:active {
    background-color: rgb(86, 42, 130);
    box-shadow: none;
}

#chrono {
    font-size: 200%;
}

.lesTableaux {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 62, 141);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

#tableau1 {
    background-color: rgb(54, 22, 87);
    width: fit-content;
    height: fit-content;
    border-spacing: 10px;
    border-radius: 10px;
    margin-right: auto; 
    margin-left: auto
}

.td1 {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color: rgb(138, 93, 184);
}

.box1 {
    display: flex;
    justify-content: center;
}

#tableau2 {
    display: none;
    background-color: rgb(54, 22, 87);
    width: fit-content;
    height: fit-content;
    border-spacing: 10px;
    border-radius: 10px;
    margin-right: auto; 
    margin-left: auto
}

.td2 {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color: rgb(138, 93, 184);
}

.box2 {
    display: flex;
    justify-content: center;
}

#tableau3 {
    display: none;
    background-color: rgb(54, 22, 87);
    width: fit-content;
    height: fit-content;
    border-spacing: 10px;
    border-radius: 10px;
    margin-right: auto; 
    margin-left: auto
}

.td3 {
    border-radius: 5px;
    width: 60px;
    height: 60px;
    background-color: rgb(138, 93, 184);
}

.box3 {
    display: flex;
    justify-content: center;
}

#tableau4 {
    display: none;
    background-color: rgb(54, 22, 87);
    width: fit-content;
    height: fit-content;
    border-spacing: 5px;
    border-radius: 10px;
    margin-right: auto; 
    margin-left: auto
}

.td4 {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: rgb(138, 93, 184);
}

.box4 {
    display: flex;
    justify-content: center;
}

#boutonChat{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom:1%;
    right:1%;
    z-index:9999;
    padding: 20px;
    background-color: orange;
    border-radius: 100px;
    font-size: 20px;
}