body {
    margin: 0;
    background-color: rgba(19,15,45,255);
    color: white;
    font-family: 'Lato', sans-serif;
}

#titreInscription {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/Images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px 0;
}

.required_answer {
    background-color: rgba(39,38,69,255);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
}

.submit {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
    margin: 0 613px 0 0;
}

.submit:hover {
    background-color: darkorange;
}

.space_out_section {
    padding: 100px 0 20px 0;
}

#containLogin {
    display: flex;
    justify-content: center;
}

#login {
    border: none;
    background-color: orange;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 2px;
    margin: 10px;
    margin-right: 613px;
}

#login:hover {
    background-color: darkorange;
}