* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: white;
}

.fenêtreChat {
    background-color: rgba(66,114,255,255);
    width:450px;
    height: 640px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
}