/* Style du header du chat */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header img {
    border-radius: 300px;
    width: 30px;
    height: 30px;
    margin-left: 15px;
}
.header p {
    color: white;
    padding: 15px;
    font-size: 20px;
}