.navigation {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.links_nav {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

/* Lien non visité */

a:link {
    color: white;
    text-decoration: none;
}
  
/* Lien visité */

a:visited {
    color: white;
    text-decoration: none;
}
  
/* Souris sur le lien */

a:hover {
    color: rgb(84, 189, 224);
    text-decoration: none;
}
  
/* Lien sélectionné */

a:active {
    color: white;
    text-decoration: none;
}