.texteContacter {
    background-color: Blue;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contacter {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.boite {
    display: flex;
    justify-content: space-between;
    width: 950px;
}

.boite2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(18, 0, 37);
    width: 300px;
    height: 200px;
}

.paraBoite {
    margin-top: 40px;
}

.formulaire {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.fomulaire2 {
    width: 100%;
    height: 280px;
    margin-right: 440px;
}

#nom {
    background-color: rgb(58, 31, 86);
    border: none;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    width: 200px;
    height: 40px;
    color: white;
}

#email {
    background-color: rgb(58, 31, 86);
    border: none;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    width: 200px;
    height: 40px;
    color: white;
}

#sujet {
    background-color: rgb(58, 31, 86);
    border: none;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    width: 464px;
    height: 40px;
    color: white;
}

#message {
    background-color: rgb(58, 31, 86);
    border: none;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    width: 464px;
    height: 100px;
    color: white;
}

#bouttonformulaire {
    border: none;
    background-color: orange;
    color: white;
    margin: 10px;
    width: 100px;
    height: 50px;
    border-radius: 2px;
}

#bouttonformulaire:hover {
    background-color: rgb(148, 96, 0);
}