/* Style de la barre de naviguation */

header{
    display: flex;
    justify-content: space-around;
    color: white;
}

.title{
    margin-right: 10%;
    font-size: large;
    margin-top: 2%;
}

.links{
    display: flex;
    align-self: center;
    margin-left: 25%;
}

.links2{
    margin-top: 3%;
}

#lien{
    padding-left: 10px;
}

/*unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }

/* visited link */
a:visited {
    color: white;
    text-decoration: none;

}

/* mouse over link */
a:hover {
    color: aqua;
    text-decoration: none;

}

/* selected link */
a:active {
    color: white;
    text-decoration: none;

}