@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(23,0,47);
    margin: 0%;
    color:  white;
}

.titre-accueil{
    text-align: center;
    font-size: 400%;
    margin-top: 10%;
}

.accroche-titre{
    color : lightgray;
    text-align: center;
    margin-top: -1.8%;
    font-weight: lighter;
}

.Jouer{
    margin-top: 1%;
    margin-bottom: 13%;
    background-color: orange;
    color: white;
    width: 10%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    text-decoration: none;
}

.Jouer:hover{
    background-color: darkorange;
}

.Block-Jouer{
    display: flex;
    justify-content: center;
}

.block-Texts{
    display:flex;
    align-self:flex-end;
    justify-content: space-around;
}

/*unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }

/* visited link */
a:visited {
    color: white;
    text-decoration: none;

}

/* mouse over link */
a:hover {
    color: orange;
    text-decoration: none;

}

/* selected link */
a:active {
    color: white;
    text-decoration: none;

}

.background-naviguation{
    background-image: url("/Projet-Puissance_4/assets/Images/background.png");
    background-repeat: no-repeat;

}

.block-Texts-Images{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 10%;
}

/* parties infomartions et contacts */
.informations {
    display: flex;
    justify-content: space-around;
}

strong {
    color: #FFA500;
}


.background-Infos{
    background-color: rgb(14, 0, 29) ;
}

.block-image-donnees{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.background-donnees{
    background-color: rgb(24, 2, 50);
}

.all-donnees{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
    padding-right: 10%;
}

.donnees-parties{
    display: flex;
    flex-direction: row;
    padding-bottom: -10%;
}

.donnees-joueurs{
    display: flex;
    flex-direction: row;
}

.text1{
    font-size: 90%;
    background-color: blue;
    border-radius: 2px;
    margin-top: -12%;
    margin-bottom: 12%;
    margin-right: 10%;
    text-align: center;
    padding-left: 23%;
    padding-right: 23%;
    padding-top: 20%;
}

.text2{
    font-size: 90%;
    background-color: rgb(0, 255, 0);
    border-radius: 2px;
    text-align: center;
    margin-top: -12%;
    margin-bottom: 12%;
    padding-left: 20%;
    padding-right: 20%;
}

.text3{
    font-size: 90%;
    background-color: red;
    border-radius: 2px;
    text-align: center;
    padding-left: 20%;
    padding-right: 16%;
    margin-right: 10%;
    padding-bottom: 20%;
}

.text4{
    font-size: 90%;
    background-color: black;
    border-radius: 2px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}