@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



/* Styles global du texte de la page */

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(23,0,47);
    margin: 0%;
    color:  white;
}



/* Arrière plan du header jusqu'au bouton Jouer */

.background-naviguation{
    background-image: url("/Projet-Puissance_4/assets/Images/background.png");
    background-position: center;
    background-repeat: no-repeat;
}



/* Styles de la partie accueil Bienvenue ainsi que le bouton Jouer */

.titre-accueil{
    text-align: center;
    font-size: 400%;
    margin-top: 10%;
}

.accroche-titre{
    color : lightgray;
    text-align: center;
    margin-top: -1.8%;
    font-weight: lighter;
}

.Block-Jouer{
    display: flex;
    justify-content: center;
}

.Jouer{
    margin-top: 1%;
    margin-bottom: 13%;
    background-color: orange;
    color: white;
    width: 10%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    text-decoration: none;
}

.Jouer:hover{
    background-color: darkorange;
}



/* Style de la partie explication du jeu */

.block-Texts-Images{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block-Images{
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-top: 3%;
    margin-right: -3%;
}

.Images-ordi{
    padding-right: 5%;
    width: 500px;
}

#Images{
    padding-right: 5%;
}

#numTexte{
    color: purple;
    font-size: 200%;
}

#titreTexte{
    font-size: 90%;
}

#paragrapheExplicationJeu{
    color: lightgray;
    font-weight: lighter;
    font-size: 80%;
}



/* Styles de la partie données et joueurs */

.Watchdogs{
    width: 500px;
    height: 300px;
    border-radius: 2px;
}

.background-donnees{
    background-color: rgb(24, 2, 50);
}

.block-image-donnees{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: lightblue;
    
}

.blockJean{
    background-color: orange;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.all-donnees{
    background-color: yellow;
    width: 90%;
}

#Text-box{
    font-size: 100%;
}

.Box1{
    background-color: black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 15%;
    font-size: 20px;
}

.Bloc1{
    background-color: blue;
    border-radius: 2px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 55px;
    padding-bottom: 10px;
}

.Bloc2{
    background-color: red;
    border-radius: 2px;
    padding-top: 55px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 10px;
}

.Box2{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.Bloc3{
    background-color: green;
    border-radius: 2px;
}

.Bloc4{
    background-color: rgb(255, 0, 217);
}

.donnees-parties{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: -10%;
    background-color: aqua;
    width: 300px;
}

.text1{
    font-size: 90%;
    background-color: blue;
    border-radius: 2px;
}

.text2{
    font-size: 90%;
    background-color: rgb(0, 255, 0);
    border-radius: 2px;
}

.donnees-joueurs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: pink;
    width: 300px;
}

.text3{
    font-size: 90%;
    background-color: red;
    border-radius: 2px;
}

.text4{
    font-size: 90%;
    background-color: black;
    border-radius: 2px;
}



/* parties infomartions et contacts */

.background-Infos{
    background-color: rgb(14, 0, 29) ;
}

.informations {
    display: flex;
    justify-content: space-around;
}

strong {
    color: #FFA500;
}