@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



/* Styles global du texte de la page */

body{
    font-family: 'Lato', sans-serif;
    background-color: rgba(16,14,46,255);
    margin: 0%;
    color:  white;
}



/* Arrière plan du header jusqu'au bouton Jouer */

.backgroundNaviguation{
    background-image: url("/Projet-Puissance_4/assets/Images/background.png");
    background-position: center;
    background-repeat: no-repeat;
}



/* Styles de la partie accueil Bienvenue ainsi que le bouton Jouer */

.titreAccueil{
    text-align: center;
    font-size: 400%;
    margin-top: 10%;
}

.accrocheTitre{
    color : lightgray;
    text-align: center;
    margin-top: -1.8%;
    font-weight: lighter;
}

.BlocJouer{
    display: flex;
    justify-content: center;
}

.Jouer{
    margin-top: 1%;
    margin-bottom: 13%;
    background-color: rgba(236,145,35,255);
    color: white;
    width: 10%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    text-decoration: none;
}

.Jouer:hover{
    background-color: darkorange;
}



/* Style de la partie explication du jeu */

.blocTextsImages{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blocImages{
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-top: 3%;
    margin-right: -3%;
}

.ImageOrdi{
    padding-right: 5%;
    width: 500px;
}

#Images{
    padding-right: 5%;
}

#numTexte{
    color: rgba(55,36,160,255);
    font-size: 200%;
}

#titreTexte{
    font-size: 90%;
}

#paragrapheExplicationJeu{
    color: lightgray;
    font-weight: lighter;
    font-size: 80%;
}



/* Styles de la partie données et joueurs */

.Watchdogs{
    width: 500px;
    height: 300px;
    border-radius: 2px;
}

.backgroundDonnees{
    background-color: rgba(17,16,47,255);
}

.blocImageDonnees{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.blocJean{
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.allDonnees{
    width: 90%;
}

#TextBox{
    font-size: 120%;
}

.Box1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 9%;
    font-size: 15px;
}

.Bloc1{
    background-color: rgba(55,36,160,255);
    border-radius: 2px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Bloc2{
    background-color: rgba(24,161,95,255);
    border-radius: 2px;
    padding-left: 40px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 9%;

}

.Box2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.Bloc3{
    background-color: rgba(185,28,168,255);
    border-radius: 2px;
    padding-left: 40px;
    padding-right: 37px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Bloc4{
    background-color: rgba(236,145,35,255);
    border-radius: 2px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 9%;
}



/* parties infomartions et contacts */

.backgroundInfosContact{
    background-color: rgba(13,11,38,255);
}

.informations{
    display: flex;
    justify-content: space-around;
}

strong{
    color: #FFA500;
}