@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body
{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgb(23, 0, 47);
    margin: 0px;
    background-image: url("/assets/login/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.leJeu
{
    margin-top: 100px;
    background-color: rgb(18, 0, 37);
}