@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body
{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgb(23, 0, 47);
    margin: 0px;
    background-image: url("/assets/login/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.leJeu
{
    margin-top: 300px;
    background-color: ;
}